<?xml version="1.0" encoding="UTF-8"?><server>
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>ejbLite-3.2</feature>
        <feature>wmqJmsClient-2.0</feature>
        <feature>mdb-3.2</feature>
        <feature>jms-2.0</feature>
        <feature>jdbc-4.1</feature>
        <feature>wasJmsServer-1.0</feature>
        <feature>wasJmsClient-2.0</feature>
    </featureManager>
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443"/>
    <authData id="TradeDataSourceAuthData" password="???" user="db2inst1"/>
    <authData id="TradeAdminAuthData" password="???" user="db2inst1"/>
    <messagingEngine>
        <queue id="TradeBrokerQueue"/>
        <topicSpace id="TradeStreamerTopic"/>
    </messagingEngine>
    <jmsQueue id="TradeBrokerQueue" jndiName="jms/TradeBrokerQueue">
        <properties.wasJms deliveryMode="NonPersistent" queueName="TradeBrokerJSD"/>
    </jmsQueue>
    <jmsQueue id="myQueue" jndiName="jms/wasQueue">
        <properties.wmqJms CCSID="1208" baseQueueManagerName="sampleMQ" baseQueueName="myQueue" expiry="APP" failIfQuiesce="true" persistence="APP" priority="APP" putAsyncAllowed="DESTINATION" readAheadAllowed="DESTINATION" readAheadClosePolicy="ALL" receiveCCSID="1208" receiveConversion="QMGR" targetClient="JMS"/>
    </jmsQueue>
    <jmsTopic id="TradeStreamerTopic" jndiName="jms/TradeStreamerTopic">
        <properties.wasJms deliveryMode="NonPersistent" topicName="TradeStreamerTopic" topicSpace="Trade.Topic.Space"/>
    </jmsTopic>
    <jmsTopic id="jms_ta" jndiName="jms/myTopic">
        <properties.wmqJms baseTopicName="T1"/>
    </jmsTopic>
    <jmsActivationSpec id="johnSpec">
        <properties.wasJms destinationType="javax.jms.Queue"/>
    </jmsActivationSpec>
    <jmsActivationSpec id="TradeBrokerMDBSpec">
        <properties.wasJms destinationType="javax.jms.Queue"/>
    </jmsActivationSpec>
    <jmsActivationSpec id="TradeStreamerMDBSpec">
        <properties.wasJms destinationType="javax.jms.Topic"/>
    </jmsActivationSpec>
    <jmsActivationSpec id="TASpec">
        <properties.wmqJms channel="SYSTEM.ADMIN.SVRCONN" destinationType="javax.jms.Topic" hostName="9.161.99.180" port="1514" queueManager="TA_QM" transportType="BINDINGS_THEN_CLIENT"/>
    </jmsActivationSpec>
    <jmsActivationSpec id="SampleActivationSpecSpec">
        <properties.wmqJms channel="SYSTEM.ADMIN.SVRCONN" destinationType="javax.jms.Queue" hostName="9.161.99.180" port="1914" queueManager="sampleQM" transportType="BINDINGS_THEN_CLIENT"/>
    </jmsActivationSpec>
    <jmsQueueConnectionFactory id="TradeBrokerQCF" jndiName="jms/TradeBrokerQCF">
        <properties.wasJms/>
    </jmsQueueConnectionFactory>
    <jmsTopicConnectionFactory id="TradeStreamerTCF" jndiName="jms/TradeStreamerTCF">
        <properties.wasJms/>
    </jmsTopicConnectionFactory>
    <jdbcDriver id="DB2_Universal_JDBC_Driver_Provider_Only" javax.sql.DataSource="com.ibm.db2.jcc.DB2ConnectionPoolDataSource">
        <library>
            <!-- <file name="/home/db2inst1/sqllib/java/db2jcc.jar"/> -->
            <file name="/config/lib/db2jcc.jar"/>
            <!-- <file name="/home/db2inst1/sqllib/java/db2jcc_license_cu.jar"/> -->
            <file name="/config/lib/db2jcc_license_cu.jar"/>
        </library>
    </jdbcDriver>
    <dataSource containerAuthDataRef="TradeDataSourceAuthData" id="TradeDataSource" jdbcDriverRef="DB2_Universal_JDBC_Driver_Provider_Only" jndiName="jdbc/TradeDataSource">
        <properties.db2.jcc beginTranForResultSetScrollingAPIs="false" beginTranForVendorAPIs="false" connectionSharing="1" databaseName="tradedb" enableClientInformation="false" enableMultithreadedAccessDetection="false" errorDetectionModel="ExceptionMapping" jmsOnePhaseOptimization="false" name="TradeDataSource" nonTransactionalDataSource="false" portNumber="50000" preTestSQLString="SELECT CURRENT SQLID FROM SYSIBM.SYSDUMMY1" propagateClientIdentityUsingTrustedContext="false" reauthentication="false" retrieveMessagesFromServerOnGetMessage="true" serverName="9.161.99.180" statementCacheSize="60" traceLevel="-1" unbindClientRerouteListFromJndi="false" useTransactionRedirect="false" validateNewConnection="false" validateNewConnectionRetryCount="100" validateNewConnectionRetryInterval="3"/>
        <connectionManager agedTimeout="0" connectionTimeout="180" maxIdleTime="1800" maxPoolSize="50" minPoolSize="10" reapTime="180"/>
    </dataSource>
    <dataSource containerAuthDataRef="TradeDataSourceAuthData" id="NoTxTradeDataSource" jdbcDriverRef="DB2_Universal_JDBC_Driver_Provider_Only" jndiName="jdbc/NoTxTradeDataSource">
        <properties.db2.jcc beginTranForResultSetScrollingAPIs="false" beginTranForVendorAPIs="false" connectionSharing="1" databaseName="tradedb" enableClientInformation="false" enableMultithreadedAccessDetection="false" errorDetectionModel="ExceptionMapping" jmsOnePhaseOptimization="false" name="NoTxTradeDataSource" nonTransactionalDataSource="true" portNumber="50000" preTestSQLString="SELECT CURRENT SQLID FROM SYSIBM.SYSDUMMY1" propagateClientIdentityUsingTrustedContext="false" reauthentication="false" retrieveMessagesFromServerOnGetMessage="true" serverName="9.161.99.180" traceLevel="-1" unbindClientRerouteListFromJndi="false" useTransactionRedirect="false" validateNewConnection="false" validateNewConnectionRetryCount="100" validateNewConnectionRetryInterval="3"/>
        <connectionManager agedTimeout="0" connectionTimeout="180" maxIdleTime="1800" maxPoolSize="50" minPoolSize="10" reapTime="180"/>
    </dataSource>
    <jdbcDriver id="Derby_JDBC_Provider_(XA)" javax.sql.DataSource="org.apache.derby.jdbc.EmbeddedXADataSource">
        <library>
            <!-- <file name="${DERBY_JDBC_DRIVER_PATH}/derby.jar"/> -->
            <file name="/config/lib/derby.jar"/>
        </library>
    </jdbcDriver>
    <dataSource id="DefaultEJBTimerDataSource" jdbcDriverRef="Derby_JDBC_Provider_(XA)" jndiName="jdbc/DefaultEJBTimerDataSource">
        <properties.derby.embedded category="default" connectionAttributes="upgrade=true" databaseName="${USER_INSTALL_ROOT}/databases/EJBTimers/${SERVER}/EJBTimerDB" name="DefaultEJBTimerDataSource" preTestSQLString=""/>
        <connectionManager agedTimeout="0" connectionTimeout="1800" maxIdleTime="1800" maxPoolSize="30" minPoolSize="1" reapTime="180"/>
    </dataSource>
    <dataSource id="PBW XA DataSource" jdbcDriverRef="Derby_JDBC_Provider_(XA)" jndiName="jdbc/PlantsByWebSphereDataSource">
        <properties.derby.embedded databaseName="${WAS_INSTALL_ROOT}/derby/databases/PLANTSDB" name="PBW XA DataSource"/>
        <connectionManager agedTimeout="0" connectionTimeout="180" maxIdleTime="1800" maxPoolSize="10" minPoolSize="1" reapTime="180"/>
    </dataSource>
    <dataSource id="PBW non-JTA DataSource" jdbcDriverRef="Derby_JDBC_Provider_(XA)" jndiName="jdbc/PlantsByWebSphereDataSourceNONJTA">
        <properties.derby.embedded databaseName="${WAS_INSTALL_ROOT}/derby/databases/PLANTSDB" name="PBW non-JTA DataSource" nonTransactionalDataSource="true"/>
        <connectionManager agedTimeout="0" connectionTimeout="180" maxIdleTime="1800" maxPoolSize="10" minPoolSize="1" reapTime="180"/>
    </dataSource>
    <!-- <variable name="DERBY_JDBC_DRIVER_PATH" value="${WAS_INSTALL_ROOT}/derby/lib"/> -->
    <variable name="DERBY_JDBC_DRIVER_PATH" value="/config/lib"/>
    <!-- <variable name="wmqJmsClient.rar.location" value="/path/to/wmq/rar/wmq.jmsra.rar"/> -->
    <variable name="wmqJmsClient.rar.location" value="/config/lib/wmq.jmsra.rar"/>
</server>